In [ ]:
#Installing the required libraries
!pip install langchain
!pip install langchain-experimental
!pip install openai

In [16]:
import pandas as pd
import sqlite3
from langchain import PromptTemplate, HuggingFaceHub, LLMChain
from langchain.llms import OpenAI
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [35]:

data = pd.read_csv('/content/Movie_3_Idiots - Sheet1(3).csv')
data.head()

           Actors
0      Aamir Khan
1      R Madhavan
2   Sharman Joshi
3  Kareena Kapoor
4     Boman Irani

In [36]:


# File paths of the CSV files
file1_path = '/content/3idiots.csv'

#creating database
# SQLite database file path
database_path = 'movies.db' #


# Create a connection to the SQLite database
connection = sqlite3.connect(database_path)


# Read the CSV files into pandas DataFrames
df1 = pd.read_csv(file1_path)

# Execute SQL CREATE TABLE statements for tables
# Replace 'table1'  with your desired table names
create_table_sql1 = '''
CREATE TABLE IF NOT EXISTS MOVIE (Actors text , Directed text , Produced text ,Cinematography text , Release_date int );
'''

# Execute the CREATE TABLE statements
connection.execute(create_table_sql1)

# Insert the data from DataFrames into the table

df1.to_sql('MOVIE', connection, if_exists='append', index=False)

# Commit the changes and close the connection
connection.commit()
def read_sql_query(sql, db):
    conn = sqlite3.connect(db)
    cur = conn.cursor()
    cur.execute(sql)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    conn.close()

In [37]:
import sqlite3
read_sql_query('SELECT * FROM MOVIE;',
               "my_database12.db")

('Aamir Khan', None)
('R Madhavan', None)
('Sharman Joshi', None)
('Kareena Kapoor', None)
('Boman Irani', None)

In [38]:
import os
os.environ['OPENAI_API_KEY'] = 'Key' #reasd the API-key from local environment

In [44]:
from langchain.chains.question_answering import load_qa_chain

In [39]:
input_db = SQLDatabase.from_uri('sqlite:///my_database12.db')
llm_1 = OpenAI(temperature=0)
db_chain = SQLDatabaseChain.from_llm(llm = llm_1,
                                     db = input_db,

                                     verbose=True)

In [40]:
db_chain.run("Who are the actors of this movie")

> Entering new SQLDatabaseChain chain...
Who all are the actors in this movie
SQLQuery:SELECT "Actors" FROM "MOVIE" LIMIT 5;
SQLResult: [('Aamir Khan',), ('R Madhavan',), ('Sharman Joshi',), ('Kareena Kapoor',), ('Boman Irani',)]
Answer:Aamir Khan, R Madhavan, Sharman Joshi, Kareena Kapoor, Boman Irani
> Finished chain.

'Aamir Khan, R Madhavan, Sharman Joshi, Kareena Kapoor, Boman Irani'